@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --azul: #45f3ff;
    --branco: #fff;
    --html: #db0000;
    --css: #25A9F0;
    --javascript: #ffff00;
    --boostrap: #563d7c;
    --react: #61dafb;
    --angular: #D6002F;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    /* text-transform: capitalize; */
    transition: all .2s linear;
}

/*  ao selecionar ele muda de cor */
* ::selection {
    background: var(--azul);
    color: #1C1C1C;
}

html {
    font-size: 65.5%;
    overflow-x: hidden;
}

/* ::-webkit-scrollbar permite modificar a aparência da barra de rolagem do navegador. */
html ::-webkit-scrollbar {
    width: 1rem;
}

/* ::-webkit-scrollbar-track é a faixa (barra de progresso) da barra de rolagem. */
html ::-webkit-scrollbar-track {
    background: #222;
}

/* ::-webkit-scrollbar-thumb é a barra de rolagem arrastável. */
html ::-webkit-scrollbar-thumb {
    background: var(--azul);
}

body {
    background: #111;
    align-items: center;
}

section {
    min-height: 100vh;
    padding: 1rem;
}

/* estilização dos botões */
.btn {
    padding: .7rem 3rem;
    background: #333;
    color: var(--branco);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i {
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover {
    background: var(--azul);
    color: #1C1C1C;
}

/* Risco que esta abaixo dos Titulos */
.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: var(--branco);
}

.heading span {
    color: var(--azul);
}

/* Cabeçalho */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #1a1a1a;
    /* background: #b93333; */
    padding: 1rem;
}

/* Foto de perfil como estilizei */
header .user img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    border: .5rem solid var(--azul);
}

header .navbar ul {
    display: flex;
    list-style: none;
}

/* Botões do cabeçalho */
header .navbar ul li a {
    display: flex;
    padding: 1rem;
    margin: 1.5rem 1rem;
    color: var(--branco);
    font-size: 2rem;
    border-radius: 5rem;
}

/* Cores dos menus button quando passa o mause */
header .navbar ul li a:hover {
    background: var(--azul);
    color: #1C1C1C
}


/* Mobile */
.navbar-mobile ul {
    display: none;
    position: absolute;
    flex-direction: column;
    list-style: none;
    right: 1%;
}

.navbar-mobile ul li a {
    display: flex;
    padding: 1rem;
    margin: 1.5rem 1rem;
    color: var(--branco);
    font-size: 2rem;
    border-radius: 5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.navbar-mobile ul li a:hover {
    background: var(--azul);
    color: #1C1C1C
}

/* Menu onde abre o cabeçalho*/
.icon {
    display: none;
}

/* Home */
.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3 {
    font-size: 3rem;
    color: var(--branco);
}

.home h1 {
    font-size: 5rem;
    color: var(--branco);
}

.home h1 span {
    color: var(--azul);
}

.home p {
    font-size: 2rem;
    color: #eee;
}

.home .button_box {
    padding: 1rem;
    display: inline-flex;
    gap: 2rem;
}

/* About */

.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.about .row .info {
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3 {
    font-size: 2rem;
    color: var(--azul);
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span {
    color: #eee;
    padding: 0 .5rem;
}

/* Experiência */

.experience .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.experience .row .info {
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.experience .row .info h3 {
    font-size: 2rem;
    color: var(--azul);
    padding: 1rem 0;
    font-weight: normal;
}

.experience .row .info h3 span {
    color: #eee;
    padding: 0 .5rem;
}

/* Habilidades */

.skills .box-container {
    display: flex;
    padding: 1rem 0;
    padding-left: 3rem;
}

/* box (Retangulo) que tem dentro as habilidades */
.skills-box {
    display: inline-flex;
    /* deixai dentro do flex na mesma linha. */
    justify-content: center;
    /* vai deixar o icon no meio */
    position: relative;
    text-align: center;
    align-items: center;
    height: 11rem;
    width: 11rem;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    margin: 2rem;
    border-radius: .5rem;
    color: #eee;
    background-color: #333;
    overflow: hidden;
    cursor: pointer;
}

.skills-box:hover {
    transform: scale(1.2);
}

.skills .box-container .skills-box .names .html {
    font-size: 4rem;
    color: var(--html);
}

.skills .box-container .skills-box .names .css {
    font-size: 4rem;
    color: var(--css);
}

.skills .box-container .skills-box .names .js {
    font-size: 4rem;
    color: var(--javascript);
}

.skills .box-container .skills-box .names .Csharp {
    height: 10rem;
    width: 10rem;
}

.skills .box-container .skills-box .names .bootstrap {
    font-size: 4rem;
    color: var(--boostrap);
}

.skills .box-container .skills-box .names .angular {
    font-size: 4rem;
    color: var(--angular)
}

.skills .box-container .skills-box span {
    flex-direction: column;
    display: flex;
    padding: 1rem;
}

.portfolio .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

/* espesura do box que tera a imagem */
.portfolio .box-container .box {
    height: 36rem;
    width: 22rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img {
    height: 60%;
    width: 100%;
    object-fit: cover;
}

/* faz a imagem se mover */
.portfolio .box-container .box:hover img {
    transform: scale(1.2);
}

.portfolio h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    margin: .3rem;
    font-size: 1.5rem;
    color: var(--branco);
}

.footer {
    text-align: center;
    color: var(--branco);
    font-size: 2rem;
    padding: 2rem;
}

.footer span {
    color: var(--azul);
}



/* consultas de mídia onde altera a largura quando for outros aparelhos */

@media (max-width:1330px) {
    html {
        font-size: 55%;
    }

    .home {
        padding: 1rem 4rem;
    }

    .navbar {
        display: none;
    }

    .icon {
        display: block;
        height: 6rem;
        width: 6rem;
        background: #333;
        color: var(--branco);
        cursor: pointer;
        font-size: 2.5rem;
        padding: 1rem 1.5rem;
        z-index: 1000;
    }

    .navbar-mobile ul {
        display: block;
    }

}

/* Quando o maximo da largura for 991px ele  vai "desaparecer" com o cabeçalho */

@media (max-width:991px) {

    body {
        padding: 0;
    }

    header {
        justify-content: space-between;
    }
}

@media (max-width:768px) {
    html {
        font-size: 50%;
    }
}

@media (max-width:400px) {
    header {
        width: 100vw;
    }

    .heading {
        margin: 0 3rem;
    }
}