@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --azul: #45f3ff;
    --branco: #fff;
    --html: #db0000;
    --css: #25A9F0;
    --javascript: #ffff00;
    --boostrap: #563d7c;
    --react: #61dafb;
    --wordpress: #1B769C;
    --elementor: #FFC5F3;
}

* {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

/*  ao selecionar ele muda de cor */
* ::selection {
    background: var(--azul);
    color: #1C1C1C;
}

html {
    font-size: 65.5%;
    overflow-x: hidden;
}

/* ::-webkit-scrollbar permite modificar a aparência da barra de rolagem do navegador. */
html ::-webkit-scrollbar {
    width: 1rem;
}

/* ::-webkit-scrollbar-track é a faixa (barra de progresso) da barra de rolagem. */
html ::-webkit-scrollbar-track {
    background: #222;
}

/* ::-webkit-scrollbar-thumb é a barra de rolagem arrastável. */
html ::-webkit-scrollbar-thumb {
    background: var(--azul);
    border-radius: 10rem;
}

body {
    background: #13131F;
    align-items: center;
}

section {
    min-height: 100vh;
    padding: 1rem;
    /* padding: 7rem 0; */
}

/* estilização dos botões */
.btn {
    padding: .7rem 2rem;
    background: transparent;
    color: var(--branco);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
    border: 2px solid var(--azul);
}

.btn i {
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover {
    background: var(--azul);
    color: #1C1C1C;
}

/* Risco que esta abaixo dos Titulos */
.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: var(--branco);
}

.heading span {
    color: var(--azul);
}

/* Cabeçalho */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* position: fixed;
    width: 100%;
    top: 0; */
}


header .user {
    font-size: 2rem;
    color: var(--azul);
    background: linear-gradient(to right, #274472, #5885AF);
    padding: 1rem;
}

header .navbar ul {
    display: flex;
    list-style: none;
}

/* Botões do cabeçalho */
header .navbar ul li a {
    display: flex;
    padding: 1rem;
    margin: 1.5rem 1rem;
    color: var(--branco);
    font-size: 2rem;
    border-radius: 5rem;
}

/* Cores dos menus button quando passa o mause */
header .navbar ul li a:hover {
    background: var(--azul);
    color: #1C1C1C
}


/* Mobile */
.navbar-mobile ul {
    display: none;
    position: absolute;
    flex-direction: column;
    list-style: none;
    right: 1%;
}

.navbar-mobile ul li a {
    display: flex;
    padding: 1rem;
    margin: 1.5rem 1rem;
    color: var(--branco);
    font-size: 2rem;
    border-radius: 5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.navbar-mobile ul li a:hover {
    background: var(--azul);
    color: #1C1C1C
}

/* Menu onde abre o cabeçalho*/
.icon {
    display: none;
}

/* Home */
.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home .row {
    display: inline-flex;
}

.home h3 {
    font-size: 3rem;
    color: var(--branco);
}

.home h1 {
    font-size: 4rem;
    color: var(--branco);
}

.home h1 span {
    color: var(--azul);
}

.home p {
    font-size: 2rem;
    color: #c4c4c4;
}

.home .button_box {
    padding: 1rem;
    display: inline-flex;
    gap: 2rem;
}

.home .button_box .btn i {
    font-size: 3rem;
}

.home .row .info {
    padding-top: 10rem;
    width: 65rem;
}

/* Foto de perfil como estilizei */
dotlottie-player {
    width: 70%;
    height: 100%;
}


/* About */

.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-left: 6rem;
    margin-bottom: 10rem;
}

.about .row .info {
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 3rem;
}

.about .row .info img {
    background: linear-gradient(to right, #274472, #61dafb);
    height: 35rem;
    width: 35rem;
    border-radius: 52% 48% 0% 100% / 50% 43% 57% 50%;
    object-fit: cover;
    border: .5rem solid var(--azul);
    box-shadow: 10px 10px 50px var(--azul);
    margin-left: 15rem;
}

.about .row .info h3 {
    font-size: 1.8rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;
    margin-right: 15rem;
}

.about .row .info h3 span {
    color: #eee;
    padding: 0 .5rem;
}

/* Habilidades */

.skills .box-container {
    display: flex;
    padding: 1rem 0;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* box (Retangulo) que tem dentro as habilidades */
.skills-box {
    display: inline-flex;
    /* deixai dentro do flex na mesma linha. */
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    height: 15rem;
    width: 11rem;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    margin: 2rem;
    border-radius: .5rem;
    color: #eee;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
}

.skills-box:hover {
    transform: scale(1.2);
    border: .1rem solid #56568c;
    background-color: #13131F;
}

.skills .box-container .skills-box .names .html {
    font-size: 4rem;
    color: var(--html);
}

.skills .box-container .skills-box .names .css {
    font-size: 4rem;
    color: var(--css);
}

.skills .box-container .skills-box .names .js {
    font-size: 4rem;
    color: var(--javascript);
}

.skills .box-container .skills-box .names .bootstrap {
    font-size: 4rem;
    color: var(--boostrap);
}

.skills .box-container .skills-box .names .react {
    font-size: 4rem;
    color: var(--react);
}

.skills .box-container .skills-box .names .wordpress {
    font-size: 4rem;
    color: var(--wordpress);
}

.skills .box-container .skills-box .names .elementor {
    font-size: 4rem;
    color: var(--elementor);
}

.skills .box-container .skills-box span {
    flex-direction: column;
    display: flex;
    padding: 1rem;
}

.portfolio .box-container {
    display: flex;
    /*  align-items: center;
    justify-content: center; */
    margin-left: 10rem;
    flex-wrap: wrap;
    padding: 2rem 0;
}

/* espesura do box que tera a imagem */
.portfolio .box-container .box {
    height: 36rem;
    width: 22rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img {
    height: 60%;
    width: 100%;
    object-fit: cover;
}

/* faz a imagem se mover */
.portfolio .box-container .box:hover img {
    transform: scale(1.2);
}

.portfolio h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    margin: .3rem;
    font-size: 1.5rem;
    color: var(--branco);
    font-weight: normal;
}

.portfolio {
    text-align: center;
    align-items: center;
}

.footer {
    align-items: center;
    text-align: center;
    color: var(--branco);
    font-size: 2rem;
    padding: 2rem;
}

.footer span {
    color: var(--azul);
}



/* consultas de mídia onde altera a largura quando for outros aparelhos */

@media (max-width:1330px) {
    html {
        font-size: 55%;
    }

    .home {
        padding: 1rem 4rem;
    }

    .navbar {
        display: none;
    }

    .icon {
        display: block;
        background: #1C1C1C;
        color: var(--branco);
        font-size: 2.5rem;
        padding: 1rem 1.5rem;
    }

    .navbar-mobile ul {
        display: block;
    }

}

/* Quando o maximo da largura for 991px ele  vai "desaparecer" com o cabeçalho */

@media (max-width:991px) {

    body {
        padding: 0;
    }

    header {
        justify-content: space-between;
        position: relative;
    }

    .home .row {
        display: block;
        margin: 0;
    }

    .home .row .info {
        padding-top: 0;
        width: 37rem;
    }

    .home h1 {
        font-size: 3.5rem;
    }

    .about .row .info h3 {
        margin-right: 0;
        margin-left: -5rem;
    }

    .about .row .info img {
        height: 40rem;
        width: 30rem;
        margin-left: -5rem;
    }

    dotlottie-player {
        width: 40rem;
        height: 40rem;
    }

    /* section {
        padding: 1rem;
    }*/
}

@media (max-width:768px) {
    html {
        font-size: 50%;
    }
}

@media (max-width:400px) {
    header {
        width: 100vw;
    }

    .heading {
        margin: 0 3rem;
    }
}